<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ponmari_Sample</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <style>
    .center {
      text-align: center;
      margin-top: 2em;
    }
  </style>
 
</head>

<body>
  <div class="container">
    <!-- Static navbar -->
    <!-- <div class="text-center mt-2">
      <img src="/assets/img/logo.gif" class="img-fluid"id="logo" alt="logo"/>

    </div> -->
    <!-- Static navbar -->
    <div class="row">
      <div class="col-md-5 mt-5 pt-5 text-right">
        <h3 style="color:  #1c70a1;"><b>TIRUNELVELI MEDICAL COLLEGE</b></h3>
      </div>
      <div class="col-md-2">
    <div class="center">
      <h1 class=""><img src="/assets/img/logo.gif" width="150" height="150"/></h1>
       </div>
       
       </div>
       <div class="col-md-5 mt-5 pt-5">
        <h3 style="color:  #1c70a1;"class="text-right"><b>ADMISSIONS REGISTRATION PORTAL</b></h3>
      </div>
    </div>